{% extends 'base.html' %} {% load static %} {% block page_title %} PNEAIO | All Cards {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'world_index' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="headliner-text">All Cards</h1>
        </div>
    </div>
</section>

<section class="cards">
    <div class="row">
        <div class="col-8">
            <a href="{% url 'create_card' %}" role="button" class="btn btn-success mb-2" aria-disabled="false">Create Card</a>
            <h4>Cards:</h4>
            <ul>
                {% for card in cards %}
                <li><a href="{% url 'view_card' card.id %}" class="card-links single-card">{{ card.name }}</a> <span class="small">{{ card.level }}<i class="fas fa-star star-chip"></i></span>
                    <a href="{% url 'edit_card' card.id %}" class="card-links card-edit"><i class="far fa-edit"></i></a>
                    <a href="{% url 'delete_card' card.id %}" class="card-links card-delete" onclick="return confirm('Are you sure you to delete {{ card }}?');"><i class="fas fa-trash-alt"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}