{% extends 'base.html' %} {% load static %} {% block page_title %} PNEAIO | World {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="headliner-text">World</h1>
        </div>
    </div>
</section>

<section class="cards">
    <div class="row">
        <div class="col-md-4 col-12 text-center mb-5">
            {% if profile.base %}
            <h4>{{ profile.base }}</h4>
            <div class="base-tools">
                <a href="{% url 'rename_base' profile.base.id %}" class="card-edit"><i class="fas fa-pencil-alt"></i></a>
                <a href="{% url 'delete_base' profile.base.id %}" class="card-delete"><i class="fas fa-trash-alt"></i></a>
            </div>
            {% else %}
            <a href="{% url 'create_base' %}" role="button" class="btn btn-success mb-2" aria-disabled="false">Start Base</a> {% endif %}
        </div>
        <div class="col-md-4 col-12 mb-5">
            {% if profile.base %}
            <h4>Your Decks:</h4>
            <a href="{% url 'create_deck' %}" role="button" class="btn btn-success mb-2" aria-disabled="false">Create Deck</a> {% for deck in decks %}
            <p class="mb-0">- <a href="{% url 'deck' deck.id %}" class="card-links single-deck">{{ deck.name }}</a>
                <a href="{% url 'delete_deck' deck.id %}" class="card-links card-delete" onclick="return confirm('Are you sure you to delete {{ deck }}?');"><i class="fas fa-trash-alt"></i></a>
            </p>
            {% endfor %} {% endif %}
        </div>
        <div class="col-md-4 col-12 mb-5">
            <h4>Your Last 5 Cards:</h4>
            <a href="{% url 'create_card' %}" role="button" class="btn btn-success mb-2" aria-disabled="false">Create Card</a>
            <ul>
                {% for card in cards %}
                <li><a href="{% url 'view_card' card.id %}" class="card-links single-card">{{ card.name }}</a> <span class="small">{{ card.level }}<i class="fas fa-star star-chip"></i></span>
                    <a href="{% url 'edit_card' card.id %}" class="card-links card-edit"><i class="far fa-edit"></i></a>
                    <a href="{% url 'delete_card' card.id %}" class="card-links card-delete" onclick="return confirm('Are you sure you to delete {{ card }}?');"><i class="fas fa-trash-alt"></i></a>
                </li>
                {% endfor %}
            </ul>
            <a href="{% url 'view_all_cards' %}" role="button" class="btn btn-success mb-2" aria-disabled="false">All Cards</a>
        </div>
    </div>
</section>

{% endblock %}