{% extends 'base.html' %} {% load static %} {% block page_title %} PNEAIO | World {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="headliner-text">World</h1>
        </div>
    </div>
</section>

<section class="cards">
    <div class="row">
        <div class="col-4">
            <a href="{% url 'create_card' %}" role="button" class="btn btn-success mb-1" aria-disabled="false">Create Card</a>
            <h2>Last 5 Cards:</h2>
            <ul>
                {% for card in cards %}
                <li>{{ card.name }} <span class="small">level {{ card.level }}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}