@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Background */

.bg {
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}


/* Navbar */

.nav-bg {
    background-color: #171516;
}

.nav-bg a {
    color: #c2bcbe;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-bg a:hover {
    color: #f4f4f4;
}

.nav-button {
    color: #f4f4f4;
}

.navbar-toggler {
    outline: none;
}

.logged-in {
    color: #f4f4f4;
    margin: 8px 2px;
}


/* Fonts */

.headliner-text {
    font-weight: 700;
    font-size: 2.75rem;
}