@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Background */

.bg {
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}


/* Navbar */

.nav-bg {
    background-color: #171516;
}

.nav-bg a {
    color: #c2bcbe;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-bg a:hover {
    color: #f4f4f4;
}

.nav-button {
    color: #f4f4f4;
}

.navbar-toggler {
    outline: none;
}

.logged-in {
    color: #f4f4f4;
    margin: 8px 2px;
}


/* World */


/* Cards */

.card-links {
    font-size: 14px;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.single-card {
    font-size: 18px;
    color: black;
}

.single-card:hover {
    color: #39a70e;
    text-decoration: none;
}

.card-edit {
    padding-left: 3px;
    color: #297055;
}

.card-edit:hover {
    color: #5cd1a5;
    text-decoration: none;
}

.card-delete {
    color: #c6382b;
}

.card-delete:hover {
    color: #ec1703;
    text-decoration: none;
}

.card-stat {
    font-size: 22px;
    font-weight: 300;
}

.star-chip {
    color: #e2b14b;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.star-chip:hover {
    color: #f1ba42;
}


/* Decks */

.single-deck {
    font-size: 21px;
    font-weight: 700;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    color: black;
}

.single-deck:hover {
    color: #0189d8;
    text-decoration: none;
}


/* Fonts */

.headliner-text {
    font-weight: 700;
    font-size: 2.75rem;
}